* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: system-ui;
        }

        .logo img {
            height: 90px;
            width: 90px;
            border-radius: 50%;
        }

        .nav-links {
            display: flex;
            list-style: none;
            gap: 20px;
        }

        .nav-links a:hover {
            background-color: #d69f7e;
            color: #774936;
        }

        .nav-links a {
            padding: 10px;
            color: #8F5C3F;
            text-decoration: none;
            font-size: 1rem;
            border-radius: 10px;
            transition: background-color 0.3s ease;
        }

        header {
            width: 100%;
            background-color: #d3b88c;
            padding: 10px 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
        }

        .img-slider {
            position: relative;
            max-width: 100%; /* Adjust as needed */
            margin: 20px auto;
            overflow: hidden;

            margin-left: 10px;
        }

        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slides {
            display: flex;
            gap: 10px;
        }

        .slides img {
            width: 200px;
            height: 200px;
            border-radius: 10px;
            object-fit: cover;

        }

        button {
            position: absolute;
            top: 42%;
            margin-left: 10px;
            margin-right: 10px;
            transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 0.721);
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, transform 0.3s;
            z-index: 10;
        }

        button:hover {
            background-color: rgba(255, 255, 255, 1);
            transform: translateY(-50%) scale(1.05);
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }
